# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

CoCaNgua/CoCaNgua/CoCaNgua.exe
CoCaNgua/CoCaNgua/CoCaNgua.ink
CoCaNgua/CoCaNgua/CoCaNgua.pdb

CoCaNgua/CoCaNgua.sdf
CoCaNgua/CoCaNgua.opensdf
CoCaNgua/ipch
CoCaNgua/Debug/
CoCaNgua/CoCaNgua/Debug/